@font-face {
    font-family: 'iconfont';  /* project id 916833 */
    src: url('//at.alicdn.com/t/font_916833_qfmf4z63os.eot');
    src: url('//at.alicdn.com/t/font_916833_qfmf4z63os.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_916833_qfmf4z63os.woff') format('woff'),
    url('//at.alicdn.com/t/font_916833_qfmf4z63os.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_916833_qfmf4z63os.svg#iconfont') format('svg');
  }
  .icon {
    font-family:"iconfont" !important;
    color: rgb(127, 127, 127);
    font-size:12px;
    speak: none;
    font-style:normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
@nav_iconSize:.6rem;
@nav_iconPt:.15rem;
.icon_finder{  
    position: relative;
    padding-top: @nav_iconPt;
    &::before{
        content: "\e669";
        font-size: @nav_iconSize;
        display: block;
    }
}
.icon_home{  
    position: relative;
    padding-top: @nav_iconPt;
    &::before{
        content: "\e621";
        font-size: @nav_iconSize;
        display: block;
    }
}
.icon_personalLetter{  
    position: relative;
    padding-top: @nav_iconPt;
    &::before{
        content: "\e665";
        font-size: @nav_iconSize;
        display: block;
        position: relative;
    }
}
.icon_me{  
    position: relative;
    padding-top: @nav_iconPt;
    &::before{
        content: "\e63f";
        font-size: @nav_iconSize;
        display: block;
    }
}
