@font-face {
  font-family: 'iconfont';
  /* project id 916833 */
  src: url('//at.alicdn.com/t/font_916833_qfmf4z63os.eot');
  src: url('//at.alicdn.com/t/font_916833_qfmf4z63os.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_916833_qfmf4z63os.woff') format('woff'), url('//at.alicdn.com/t/font_916833_qfmf4z63os.ttf') format('truetype'), url('//at.alicdn.com/t/font_916833_qfmf4z63os.svg#iconfont') format('svg');
}
.icon {
  font-family: "iconfont" !important;
  color: #7f7f7f;
  font-size: 12px;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon_finder {
  position: relative;
  padding-top: 0.65rem;
}
.icon_finder::before {
  content: "\e669";
  font-size: 0.6rem;
  position: absolute;
  top: 0;
  left: .66rem;
}
.icon_home {
  position: relative;
  padding-top: 0.65rem;
}
.icon_home::before {
  content: "\e621";
  font-size: 0.6rem;
  position: absolute;
  top: 0;
  left: .645rem;
}
.icon_personalLetter {
  position: relative;
  padding-top: 0.65rem;
}
.icon_personalLetter::before {
  content: "\e665";
  font-size: 0.6rem;
  position: absolute;
  top: 0;
  left: .66rem;
}
.icon_me {
  position: relative;
  padding-top: 0.65rem;
}
.icon_me::before {
  content: "\e63f";
  font-size: 0.6rem;
  position: absolute;
  top: 0;
  left: .66rem;
}
