@font-face {
  font-family: 'iconfont';
  /* project id 916833 */
  src: url('//at.alicdn.com/t/font_916833_48njz2abqyo.eot');
  src: url('//at.alicdn.com/t/font_916833_48njz2abqyo.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_916833_48njz2abqyo.woff') format('woff'), url('//at.alicdn.com/t/font_916833_48njz2abqyo.ttf') format('truetype'), url('//at.alicdn.com/t/font_916833_48njz2abqyo.svg#iconfont') format('svg');
}
.icon {
  font-family: "iconfont" !important;
  color: #7f7f7f;
  font-size: 12px;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon_finder {
  position: relative;
  padding-top: 0.15rem;
}
.icon_finder::before {
  content: "\e669";
  font-size: 0.6rem;
  display: block;
}
.icon_home {
  position: relative;
  padding-top: 0.15rem;
}
.icon_home::before {
  content: "\e621";
  font-size: 0.6rem;
  display: block;
}
.icon_personalLetter {
  position: relative;
  padding-top: 0.15rem;
}
.icon_personalLetter::before {
  content: "\e665";
  font-size: 0.6rem;
  display: block;
  position: relative;
}
.icon_me {
  position: relative;
  padding-top: 0.15rem;
}
.icon_me::before {
  content: "\e63f";
  font-size: 0.6rem;
  display: block;
}
.icon_meun {
  position: relative;
}
.icon_meun::before {
  content: "\e66a";
  font-size: 0.6rem;
  position: absolute;
  top: 0;
}
.icon_edit {
  position: relative;
}
.icon_edit::before {
  content: "\e61e";
  color: #fff;
  font-size: .52rem;
  position: absolute;
  top: 0;
  right: 0;
}
.icon_gift {
  position: relative;
}
.icon_gift::before {
  content: "\e6ae";
  color: #f60;
  font-size: 0.32rem;
  position: absolute;
  top: 0;
  left: 0;
}
.icon_ticket {
  position: relative;
}
.icon_ticket::before {
  content: "\e602";
  color: #f60;
  font-size: 0.32rem;
  position: absolute;
  top: 0;
  left: 0;
}
.icon_store {
  position: relative;
}
.icon_store::before {
  content: "\e610";
  color: #f60;
  font-size: 0.32rem;
  position: absolute;
  top: 0;
  left: 0;
}
.icon_collect {
  position: relative;
}
.icon_collect::before {
  content: "\e619";
  color: #f60;
  font-size: 0.32rem;
  position: absolute;
  top: 0;
  left: 0;
}
.icon_feedback {
  position: relative;
}
.icon_feedback::before {
  content: "\e674";
  color: #f60;
  font-size: 0.32rem;
  position: absolute;
  top: 0;
  left: -3px;
}
.icon_setting {
  position: relative;
}
.icon_setting::before {
  content: "\e68a";
  color: #f60;
  font-size: 0.32rem;
  position: absolute;
  top: 0;
  left: -2px;
}
.icon_addImg {
  position: relative;
}
.icon_addImg::before {
  content: "\e710";
  width: 1.5rem;
  text-align: center;
  color: #b3b3b3;
  font-size: .48rem;
  position: absolute;
  top: 0;
  left: -2px;
}
